<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="practicalPattern.concept" type="XiaolouT.Learning.PracticalPattern.Concept.Configurating.ChapterConfigurationSectionGroup,XiaolouT.Learning.PracticalPattern.Concept">
            <section name="delegating" type="XiaolouT.Learning.PracticalPattern.Concept.Configurating.DelegatingParagramConfigurationSection,XiaolouT.Learning.PracticalPattern.Concept"/>
            <section name="generics" type="XiaolouT.Learning.PracticalPattern.Concept.Configurating.GenericsParagramConfigurationSection,XiaolouT.Learning.PracticalPattern.Concept"/>
        </sectionGroup>
    </configSections>
    <practicalPattern.concept>
        <delegating>
            <examples>
                <add name="AsynInvoke"  description="用Delegat完成异步调用"/>
            </examples>
            <diagrams>
                <add name="DelegateList" description="Delegate 集合"/>
            </diagrams>
            <pictures>
                <add name="EventHandler" colorized="true"/>
            </pictures>
        </delegating>
        <generics>
            <examples>
                <add name="RawGenericFactory" description="通用工厂类"/>
                <add name="GenericAdapter"/>
            </examples>
            <diagrams>
                <add name="ClassicBuilder" description="经典Builder模式实现"/>
            </diagrams>
        </generics>
    </practicalPattern.concept>
</configuration>