<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="practicalPattern.Common" type="XiaolouT.Learning.PracticalPattern.Common.ObjectBuilderConfigurationSource,PracticalPattern.Common">
            <section name="objectBuilder" type="XiaolouT.Learning.PracticalPattern.Common.ObjectBuilderConfigurationSection,PracticalPattern.Common"/>
        </sectionGroup>
    </configSections>
    <practicalPattern.Common>
        <objectBuilder type="XiaolouT.Learning.PracticalPattern.Common.TypeCreator,PracticalPattern.Common"/>
    </practicalPattern.Common>
</configuration>